.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(51, 51, 51);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 110%;
  font-style: normal;
  color: white;
}

.intro-title {
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-size: 250%;
  font-weight: 100;
  color: white;
}

.intro-description {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 110%;
  font-style: normal;
  color: white;
}

.intro-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: rgb(0, 60, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 80%;
  font-style: normal;
}

.intro-button:hover {
  background-color: #4c00ff;
  color: white;
  transform: scale(1.05);
}

.intro-button:active {
  background-color: #3b0070;
}
